@import "variables.css";

/*********************
     TOOLBOX STYLE
**********************/

.titlebar-spacer,
.titlebar-buttonbox-container,
#nav-bar-overflow-button,
#urlbar-go-button,
#identity-icon-label,
#urlbar-container #star-button-box,
#urlbar-container #page-action-buttons > * {
    display: none !important;
}

toolbarbutton {
    overflow: hidden !important;
    border-radius: 6px !important;
}

#navigator-toolbox {
    z-index: 99 !important;
    height: 100% !important;
    border-radius: 0px !important;
    width: var(--sidebar-width) !important;
    background-color: var(--sidebar-background) !important;
}

#navigator-toolbox, #nav-bar {
    border: none !important;
}

#nav-bar, #TabsToolbar, #PersonalToolbar {
    background-color: transparent !important;
}

#nav-bar {
    padding: var(--gap-size) !important;

    #nav-bar-customization-target {
        flex-wrap: wrap !important;
        row-gap: var(--gap-size) !important;

        > *:first-child, toolbarbutton {
            padding: 0 !important;
        }
    }

    #PanelUI-menu-button {
        padding: 0px !important;
        height: fit-content !important;
    }
}

@media (-moz-bool-pref: "custom.sidebar.bottom-burger") {
    #nav-bar #PanelUI-menu-button {
        z-index: 100 !important;
        position: fixed !important;
        bottom: var(--gap-size) !important;
        left: calc(var(--sidebar-width) - 28px - 2*var(--gap-size))
    }
}

@media (-moz-bool-pref: "custom.sidebar.bottom-extensions") {
    #unified-extensions-button {
        z-index: 100 !important;
        position: fixed !important;
        bottom: var(--gap-size) !important;
        left: var(--gap-size) !important;
    }

    #TabsToolbar #TabsToolbar-customization-target > *:nth-child(2) {
        margin-inline: 31px 0 !important;
    }
}

/*********************
  CLOSED URLBAR STYLE
**********************/

#urlbar-container {
    order: 99 !important;
    margin: 0px !important;
    height: 32px !important;
    min-height: 0px !important;
    width: calc(var(--sidebar-width) - 2*var(--gap-size)) !important;

    &, #urlbar, #urlbar-background {
        border-radius: 6px !important;
        box-shadow: none !important;
        background-color: var(--tab-background) !important;
    }

    * {
        outline: none !important;
    }

    #urlbar:hover
    #page-action-buttons
        > *:not([hidden="true"]):not(#star-button-box) {
        display: flex !important;
    }

    .urlbar-page-action,
    #urlbar[unifiedsearchbutton-available=""] #identity-box {
        width: fit-content !important;
    }

    #urlbar[unifiedsearchbutton-available=""] #identity-box {
        margin-left: 6px !important;
        margin-right: 6px !important;

        #identity-icon-box {
            padding: 0 !important;
        }
    }

    #tracking-protection-icon-container:not([hidden]),
    .verifiedDomain[pageproxystate="valid"] #identity-icon-box,
    .verifiedDomain[pageproxystate="valid"] #identity-permission-box,
    #urlbar[pageproxystate="valid"] .chromeUI #identity-icon-box,
    .urlbar-page-action {
        margin: 3px !important;
        padding: 3px !important;
        height: fit-content !important;
    }

    #identity-box.verifiedDomain #identity-icon-box {
        margin: 3px 0 !important;
    }

    #urlbar[pageproxystate="valid"] .chromeUI {
        margin-right: 0px !important;

        #identity-icon-box {

            border-radius: 50% !important;
            background-color: transparent !important;

            &:hover {
                background-color: var(--sidebar-background) !important;
            }
        }
    }
}

/*********************
  VERTICAL TABS STYLE
**********************/

#TabsToolbar {
    --tab-min-height: 32px !important;

    order: 99 !important;
    position: relative !important;
    margin: 0 0 0 var(--gap-size) !important;

    #TabsToolbar-customization-target {
        height: 100% !important;
        flex-wrap: wrap !important;

        #tabbrowser-tabs {
            flex: unset !important;
            height: calc(100% - 32px - 2*var(--gap-size)) !important;
            width: calc(var(--sidebar-width) - 2*var(--gap-size)) !important;
        }
    }

    .tabbrowser-tab {
        padding: 0 !important;
        max-height: var(--tab-min-height) !important;
    }

    .tab-stack {
        margin-bottom: var(--gap-size) !important;
    }

    .tab-background {
        margin: 0 !important;
        border-radius: 6px !important;
        box-shadow: none !important;

        &[selected] {
            background-color: var(--tab-background) !important;
        }
    }

    .toolbarbutton-1, .unified-extensions-item {
        padding: 0px !important;
        height: fit-content !important;
    }

    #TabsToolbar-customization-target > *:last-child {
        margin-right: var(--gap-size) !important;
    }
}

scrollbox[part="scrollbox"][flex="1"][orient="horizontal"][smoothscroll="true"]
    > * {
    overflow: hidden scroll;
    gap: 4px !important;
    flex-direction: column !important;
}

/*********************
 EXTENSION PANEL STYLE
**********************/

#unified-extensions-view {
    width: var(--menu-panel-width) !important;
    background-color: var(--sidebar-background) !important;

    .panel-header, toolbarseparator {
        display: none !important;
    }

    .unified-extensions-item-action-button:hover,
    #unified-extensions-manage-extensions:hover {
        background-color: var(--tab-background) !important;
    }

    .panel-subview-body {
        border-bottom: var(--border) !important;
    }

    #unified-extensions-area > toolbaritem,
    #unified-extensions-manage-extensions {
        margin: 4px !important;
    }

    .unified-extensions-item-row-wrapper {
        position: relative !important;
    }

    .unified-extensions-item-message-deck {
        width: 230px !important;
    }

    .unified-extensions-item-menu-button {
        position: absolute !important;
        right: 6px !important;
        top: 50% !important;
        transform: translateY(-50%) !important;
    }
}

/*********************
 DOWNLOAD PANEL STYLE
**********************/

#downloadsPanel-multiView {
    width: var(--menu-panel-width) !important;
    background-color: var(--sidebar-background) !important;

    toolbarseparator {
        display: none !important;
    }

    #downloadsPanel-mainView {
        padding: 0 !important;
    }

    #emptyDownloads {
        padding: 10px 0px 10px 13px !important;
    }

    #downloadsFooterButtons {
        border-top: var(--border) !important;
    }

    #downloadsListBox {
        padding: 4px !important;

        richlistitem {
            width: calc(var(--menu-panel-width) - 8px) !important;
        }
    }

    #downloadsHistory {
        margin: 4px !important;
        width: calc(var(--menu-panel-width) - 8px) !important;
    }

    .hoveringMainArea:hover, .subviewbutton:hover, .downloadButton:hover {
        border: none !important;
        background-color: var(--tab-background) !important;
    }
}

/*********************
   BURGER MENU STYLE
**********************/

#appMenu-multiView {
    background-color: var(--sidebar-background) !important;

    .panel-subview-body {
        padding: 4px 0 !important;
    }

    .PanelUI-subView {
        padding-bottom: 4px !important;
    }

    toolbarseparator {
        margin: 4px 0px !important;
        border-top: var(--border) !important;
    }

    toolbarseparator ~ .panel-subview-body {
        padding-top: 0px !important;
    }

    toolbarbutton, toolbaritem {
        margin: 0 4px !important;
    }
}

/*********************
 FLOATING URLBAR STYLE
**********************/

#urlbar-container:has(#urlbar[breakout-extend="true"]) {
    background-color: var(--tab-background) !important;

    #urlbar, .urlbarView, #urlbar-results {
        margin: 0 !important;
        padding: 0 !important;
    }

    * {
        border: none !important;
    }

    #urlbar {
        position: fixed !important;
        width: var(--floating-urlbar-width) !important;
        top: var(--urlbar-top-position) !important;
        left: calc(
            50vw - var(--floating-urlbar-width)/2 + var(--sidebar-width)/2
        ) !important;

        overflow: hidden !important;
        border: var(--border) !important;
        border-radius: var(--gap-radius) !important;
    }

    #urlbar-background {
        background-color: var(--sidebar-background) !important;
    }

    .urlbar-input-box {
        margin-left: 6px !important;
    }

    .urlbarView {
        width: 100% !important;
        padding: 4px 6px !important;
        border-top: var(--border) !important;
    }

    .urlbarView-row[has-url]not(:last-child) {
        margin-bottom: 4px !important;
    }

    .urlbarView-row[selected] {
        background-color: var(--tab-background) !important;
    }

    .urlbarView-row:hover {
        background-color: #3c3c3c !important;
    }

    #identity-box, .urlbarView-row[label], .search-one-offs {
        display: none !important;
    }
}


/*********************
      GAPS STYLE
**********************/

@media (-moz-bool-pref: "custom.sidebar.gaps") {
    #tabbrowser-tabbox,
    #sidebar-box {
        overflow: hidden !important;
        border-radius: var(--gap-radius) !important;
    }

    splitter#sidebar-splitter {
        width: var(--gap-size) !important;
        background-color: transparent !important;
    }

    #browser {
        left: var(--sidebar-width) !important;
        width: calc(100% - var(--sidebar-width)) !important;

        box-sizing: border-box !important;
        border: transparent var(--gap-size) solid !important;
    }
}

@media not (-moz-bool-pref: "custom.sidebar.compact") {
    #browser {
        border-left: none !important;
    }
}

/*********************
 COMPACT TOOLBOX STYLE
**********************/

@media (-moz-bool-pref: "custom.sidebar.compact") {
    #navigator-toolbox {
        height: 75vh !important;
        margin-top: 13vh !important;

        left: calc(
            -1 * var(--sidebar-width) - var(--compact-margin)
        ) !important;
        transition: left 0.15s ease !important;

        margin-left: var(--compact-margin) !important;
        border: 1px #373839 solid !important;
        border-radius: 6px !important;

        &:hover,
        &:has(#urlbar[focused=""]) {
            left: 0px !important;
        }

        &::before,
        &::after {
            content: "";
            height: 100%;
            position: absolute;
        }

        &::before {
            width: calc(2 * var(--sidebar-width));
            left: calc(-2 * var(--sidebar-width));
        }

        &::after {
            width: var(--compact-detection-width);
            left: calc(var(--sidebar-width) - 1px);
        }

        #nav-bar #urlbar-container {
            width: calc(var(--sidebar-width) - 2 * 7px) !important;
        }
    }

    #browser, #customization-container {
        left: 0 !important;
        width: 100% !important;
    }

    :not(:has(#customization-container[hidden])) #navigator-toolbox {
        left: 0px !important;
    }

    #customization-palette {
        margin-top: 20vh !important;
        margin-left: var(--sidebar-width) !important;
    }
}

/*********************
     BROWSER STYLE
**********************/

#browser {
    height: 100vh !important;
    width: 100vw !important;
    position: absolute !important;
    background: var(--sidebar-background) !important;
}

#browser, #customization-container {
    left: var(--sidebar-width) !important;
    width: calc(100% - var(--sidebar-width)) !important;
}

#sidebar-header, findbar, #sidebar-box, #customization-container, #tabbrowser-tabpanels {
    background: var(--secondary-background) !important;
}

#sidebar-header, findbar, #sidebar-splitter {
    border: none !important;
}

#sidebar-splitter {
    width: 2px !important;
}

#nav-bar[customizing] #urlbar-container,
#customization-container,
#wrapper-urlbar-container {
    position: absolute !important;
}

#nav-bar[customizing] {
    #urlbar-container {
        margin: 0px !important;
        left: 0px !important;
        top: 34px !important;
    }

    toolbarpaletteitem:first-child toolbaritem {
        padding: 0 !important;;
    }
}

#TabsToolbar[customizing] {
    margin-top: 38px !important;
}

#customization-container, #wrapper-urlbar-container {
    height: 100% !important;
}

#customization-palette-container {
    width: 100% !important;
}

#customization-panel-container {
    display: none !important;
}
