@import "variables.css";

:root {
    --in-content-page-background: var(
        --secondary-background,
        inherit
    ) !important;

    --newtab-background-color-secondary: var(--sidebar-background) !important;
}

@-moz-document url-prefix(about:newtab), url-prefix(about:blank) {
    body {
        background-color: var(--secondary-background) !important;
    }
}
