:root {
    --sidebar-width: 200px;
    --floating-urlbar-width: 600px;
    --urlbar-top-position: 20vh;

    --compact-margin: 5px;
    --compact-detection-width: 5px;

    --gap-size: 6px;
    --gap-radius: 10px;

    --sidebar-background: #303030;
    --secondary-background: #1e1e1e;
    --tab-background: #444444;
}
