body, #browser {
    background: var(--sidebar-background) !important;
}

#sidebar-header, findbar {
    background: var(--secondary-background) !important;
}

#sidebar-header, findbar {
    border: none !important;
}

#sidebar-splitter {
    width: 2px !important;
    border: none !important;
}
