#navigator-toolbox {
    z-index: 99 !important;
    width: var(--sidebar-width) !important;
}

#navigator-toolbox {
    background-color: var(--sidebar-background) !important;
}

#nav-bar,
#TabsToolbar {
    background-color: transparent !important; 
}

#nav-bar {
    position: initial !important;
    margin-bottom: 36px !important;
}

#back-button,
#forward-button,
#identity-icon-label,
#urlbar-go-button,
:root[customtitlebar] #nav-bar .titlebar-buttonbox-container,
#urlbar-container #star-button-box,
#urlbar-container #page-action-buttons > * {
    display: none !important;
}

#urlbar:hover
    #page-action-buttons
    > *:not([hidden="true"]):not(#star-button-box) {
    display: flex !important;
}

#downloads-button,
#unified-extensions-button,
#PanelUI-menu-button,
#preferences-button {
    z-index: 99 !important;
    position: absolute !important;
}

#unified-extensions-button {
    top: 5px !important;
    left: 38px !important;
}

#nav-bar .unified-extensions-item {
    width: 32px !important;
    height: 32px !important;

    &:last-child {
        width: 38px !important;
    }
}

#PanelUI-menu-button {
    left: 3px;
    bottom: 5px;
}

#preferences-button {
    left: 37px;
    bottom: 5px;
}

#downloads-button {
    left: 156px;
    bottom: 5px;
}

#urlbar-container {
    top: 43px !important;
    left: 0px !important;
    position: absolute !important;
    width: calc(var(--sidebar-width) - 2*var(--gap-size) + 1px) !important;

    #urlbar {
        outline: none !important;

        *[role="button"] {
            margin: 0px !important;
            padding: 2px !important;
        }

        #tracking-protection-icon-container {
            margin-left: 3px !important;
        }

        :has(#tracking-protection-icon-container[hidden="true"]) {
            #identity-icon-box {
                margin-left: 3px !important;
            }

            .chromeUI#identity-box {
                margin-right: 3px !important;
            }
        }

        .chromeUI #identity-icon-box {
            background-color: transparent !important;
        }
    }
}

#TabsToolbar-customization-target,
#TabsToolbar-customization-target #tabbrowser-tabs {
    height: 100% !important;
}

#TabsToolbar-customization-target .tabbrowser-tab {
    max-height: var(--tab-min-height) !important;
}

tabs#tabbrowser-tabs[orient="horizontal"] tab {
    .tab-background[selected] {
        background-color: var(--tab-background) !important;
    }

    .tab-content .tab-icon-stack:not([pinned]) {
        margin-left: 0px !important;
        margin-inline-start: initial !important;
    }
}

scrollbox[part="scrollbox"][flex="1"][orient="horizontal"][smoothscroll="true"]
    > * {
    overflow: hidden scroll;
    gap: 4px !important;
    flex-direction: column !important;
}
