#urlbar-container:has(#urlbar[breakout-extend="true"]) {
    left: 3px !important;
    border-radius: 6px !important;
    background-color: var(--tab-background) !important;

    #urlbar {
        position: fixed !important;
        width: var(--floating-urlbar-width) !important;
        top: var(--urlbar-top-position) !important;
        left: calc(
            50vw - var(--floating-urlbar-width) / 2 + var(--sidebar-width) / 2
        ) !important;

        border-radius: 12px !important;
    }
    
    #urlbar,
    .urlbarView {
        margin: 0 !important;
        padding: 0 !important;
    }

    .urlbar-input-container,
    .urlbarView {
        border: 1px #373839 solid !important;
    }

    #urlbar .urlbarView,
    .urlbar-input-container,
    .urlbarView-body-outer {
        background: var(--sidebar-background) !important;
    }

    .urlbar-input-container {
        border-bottom: none !important;
        border-radius: 12px 12px 0 0 !important;
    }
    
    #urlbar-input {
        margin-left: 12px !important;
    }
    
    #tracking-protection-icon-container, #identity-box, #page-action-buttons {
        display: none !important;
    }

    .urlbarView {
        width: 100% !important;
        box-shadow: none !important;
        border-top-left-radius: 0 !important;
        border-top-right-radius: 0 !important;
    }

    #urlbar-results .urlbarView-row:not(:last-child) {
        margin-bottom: 4px !important;
    }

    .search-one-offs,
    .urlbarView-row[label="Suggestions"],
    .urlbarView-row[label="Shortcuts"] {
        display: none !important;
    }
}
