@media (-moz-bool-pref: "custom.sidebar.visible") {
    #browser {
        height: 100vh !important;
        position: absolute !important;
        left: var(--sidebar-width) !important;
        width: calc(100% - var(--sidebar-width)) !important;
    }

    #navigator-toolbox {
        height: calc(100vh + 1px) !important;
        top: 0 !important;
        left: 0 !important;
        position: absolute !important;
    }

    @media (-moz-bool-pref: "custom.sidebar.gaps") {
        #tabbrowser-tabbox,
        #sidebar-box,
        #browser {
            overflow: hidden !important;
            border-radius: var(--gap-radius) !important;
        }
        
        splitter#sidebar-splitter {
            width: var(--gap-size) !important;
        }

        #browser {
            left: calc(var(--sidebar-width) - var(--gap-size)) !important;
            width: calc(100% - var(--sidebar-width) + var(--gap-size)) !important;
            
            box-sizing: border-box !important;
            border: var(--sidebar-background) var(--gap-size) solid !important;
        }
    }
}
