#urlbar-container:has(#urlbar[breakout-extend="true"]) {
    position: fixed !important;
    width: var(--urlbar-width) !important;
    left: calc(
        50vw - var(--urlbar-width) / 2 + var(--sidebar-width) / 2
    ) !important;

    #urlbar,
    .urlbarView {
        margin: 0 !important;
        padding: 0 !important;
    }

    .urlbar-input-container,
    .urlbarView {
        border: 1px #373839 solid !important;
    }

    #urlbar {
        top: var(--urlbar-top-position) !important;
        outline: none !important;
        border-radius: 12px !important;
    }

    #urlbar .urlbarView,
    .urlbar-input-container,
    .urlbarView-body-outer {
        background: var(--sidebar-background) !important;
    }

    .urlbar-input-container {
        border-bottom: none !important;
        border-radius: 12px 12px 0 0 !important;
    }

    .urlbar-input-container[pageproxystate="invalid"] #urlbar-input {
        margin-left: 20px !important;
    }

    #urlbar[searchmode=""] #urlbar-input {
        margin-left: 6px !important;
    }

    #urlbar-search-mode-indicator {
        margin-left: 5px !important;
    }

    #tracking-protection-icon-container {
        margin-left: 12px !important;
    }

    .urlbarView {
        width: 100% !important;
        box-shadow: none !important;
        border-top-left-radius: 0 !important;
        border-top-right-radius: 0 !important;
    }

    #urlbar-results .urlbarView-row:not(:last-child) {
        margin-bottom: 4px !important;
    }

    .search-one-offs,
    .urlbarView-row[label="Suggestions"],
    .urlbarView-row[label="Shortcuts"] {
        display: none !important;
    }
}
