:root {
    --sidebar-width: 200px;
    --urlbar-width: 600px;
    --urlbar-top-position: 20vh;

    --compact-margin: 5px;
    --compact-detection-width: 5px;

    --gap-size: 6px;
    --gap-radius: 10px;

    --sidebar-background: var(--gnome-toolbar-background, inherit);
    --secondary-background: var(--gnome-window-background, inherit);
}
